<h1>Bienvenido a la creacion de usuarios</h1>
<br>
<center>
<table style="width: 70%">
<form action="/create_user" method="post">
<tr>
    <td>Nombre:</td>
    <td><input type="text" name="name" placeholder="Nickname"></td>
</tr>
<tr>
    <td>Email:</td>
    <td><input type="email" name="email" placeholder="Introduce tu Correo"></td>
</tr>
<tr>
    <td>Contraseña:</td>
    <td><input type="password" name="pass" placeholder="Contraseña" maxlength="8"></td>
</tr>
<tr>
    <td colspan="2" style="text-align: center"><input type="submit" value="Regístrate" style="text-decoration: none; padding: 10px;border: 2px solid BurlyWood;border-radius: 5px; background-color: Brown; color: white; font-size: 15px"></td>
</tr>
</form>
</table>
</center>
<hr>
<br>
<a href="/">Regresar a Home</a>