<br><br>
<h1 style="color: blue">Esta página esta dirigida al login</h1>
<p>Acceso concedido</p>
<% user = User.find_by(id: session[:user_id])%>
<p>Bienvenido Usuario: <%= user.name%></p>
<br>
<br>
<br>
<a href="/log_out">Cerrar Sesion</a>